.Container{
    padding: 1%;

}
.header{
    display:flex;
    justify-content: space-between;
}
.title{
    width:90%;
    font-size: 40px;
    text-align: center;
}
.title span{
    color: red;
    font-size: 50px;
    font-weight: bold;
}

.fa{
    font-size: 40px;
    visibility: hidden;
}
.list , .list_hide{
    padding: 1%;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: space-between;
}



li{
    font-weight: bold;
    font-size: 24px;
}
Link{
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .title{
        font-size: 20px;
        text-align: left;
    }
    .title span{
        font-size: 30px;
        
    }
    .fa{
        font-size: 40px;
        visibility:visible;
    }
    .list{
        width:40%;
        margin:1% 2% 0% 45% ;
        background-color: gray;
        flex-flow: column wrap;
        position: absolute;
        z-index: 1;
    }
    li{
        padding: 5px;
        text-align: center;
        
    }
    
    li:hover{
        background-color: rgb(202, 202, 202);
        color: white;
    }
    .list_hide{
        display: none;
    }
}

