@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255,255,255);
    
}
body{
    border: 1px solid black;
}
/* ----------------index.html------------------------ */
.container{
    width:50%;
    height:92vh;
    margin:4% 20%;
    background-color: white;
    padding: 2%;
}
.head1{
    display: flex;
    margin: 8px 20px 20px 20px;
}
.head1 #task{
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.head1 #list{
    font-size: 40px;
    font-weight:lighter;
    color: rgb(106, 98, 98);
    margin-left: 7px;
    font-family: 'raleway',sans-serif;
}
.head1 #right{
    float:right;
    font-size: 25px;
    padding-left: 40%;
}
.a_link{
    text-decoration: none;
}
.material-icons{
    color: #ff0d0d;
    font-size: 36px;
}
.container img{
    background-color:rgb(238,129,118);
    color:white;
}
.box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.b1{
    width:22%;
    height:35vh;
    border:1px solid rgb(238,129,118);
    border-radius: 5px;
    padding: 3px;
    padding: 3%;
    box-shadow:6px 5px 6px rgb(176, 171, 171) ;
    margin-bottom: 4%;
}
.b1 h3{
    font-size: 20px;
    padding-left: 10px;
    color:tomato;
}
.b1 hr{
    margin: 10px 0px 20px 10px
}
.b1 strike{
    font-size: 20px;
    margin:2px 0px 0px 10px;
    color: #ff0d0d;
}
.b1 p{
    font-size: 20px;
}
.b1 input{
    margin: 5px 5px 0px 5px;
}
/* ----------------todo2.html------------------------ */
.center , .paris{
    justify-content: center;
    margin-bottom: 3%;
    display:flex;
}
.center h1{
    font-size: 40px;
}
.b2{
    width:40%;
    height:40vh;
    border:1px solid rgb(238,129,118);
    border-radius: 5px;
    padding: 3px;
    padding: 3%;
    box-shadow:6px 5px 6px rgb(176, 171, 171) ;
    text-align: center;
}
.b2 h4{
    font-size: 20px;
    padding-left: 10px;
    color:tomato;
}
.b2 hr{
    margin: 10px 0px 20px 10px
}
.b2 strike{
    font-size: 20px;
    margin:2px 0px 0px 10px;
    color: #ff0d0d;
}
.b2 p{
    font-size: 20px;
}
.b2 input{
    margin:5px 5px 0px 5px;
}
.bottom{
    position: relative;
    left:43%;
    top:40%;
}

/*------------------todo3.html--------------------------*/
#t3body{
    filter: blur(3px);
    z-index: -1;
}
#t4body{
    filter: blur(3px);
    z-index: -1;
}
.page{
    width:27%;
    margin:16% 37%;
    border-radius: 10px;
}

.b3{
    position: absolute;
    top:30%;
    border:1px solid salmon;
    border-radius: 10px;
    text-align: center;
    width:25%;
    height:23vh;
    padding:2%;
    box-shadow: 5px 5px 6px rgb(157, 153, 153);
}
.b3 label{
    text-align: center;
    color:salmon;
    font-size: 20px;
}
.b3 input{
    width:80%;
    height:4vh;
    border:1px solid salmon;
    border-radius: 4px;
}
.b3 button{
    border:none;
    background-color: tomato;
    color: white;
    border-radius: 19px;
    padding: 8px;
    width:30%;
    font-size:17px ;
}

@media (max-width:856px) {
    /* ----------------index.html------------------------ */
    .container{
        width:50%;
        height:100vh;
        margin:4% 20%;
        background-color: white;
        padding: 2%;
    }
    .head1{
        width:90%;
        display: flex;
        margin: 5% 5% 5% 1%;
        
    }
    .head1 #task{
        font-size: 40px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .head1 #list{
        font-size: 40px;
        font-weight:lighter;
        color: rgb(106, 98, 98);
        /* margin-left: 7px; */
        font-family: 'raleway',sans-serif;
    }
    .head1 #right{
        float:left;
        font-size: 25px;
        padding-top: 2%;
        padding-right: 5%;
    }
    .hide{
        display: none;
    }
    .a_link{
        text-decoration: none;
    }
    .material-icons{
        color: #ff0d0d;
        font-size: 36px;
    }
    .container img{
        background-color:rgb(238,129,118);
        color:white;
    }
    .box{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
    }
    .b1{
        width:90%;
        height:7vh;
        border:1px solid rgb(238,129,118);
        border-radius: 5px;
        padding: 3px;
        padding: 3%;
        box-shadow:6px 5px 6px rgb(176, 171, 171) ;
        margin: 5% 2%;
    }
    .b1 h3{
        font-size: 30px;
        padding-left: 10px;
    }
    .b1 hr, .b1 strike , .b1 p{
        display:none
    }
    /* ----------------todo2.html------------------------ */
.center, .paris{
    justify-content: center;
    margin-bottom: 3%;
    display:flex;
}
.paris{
    position: absolute;
    /* top:56px;
    left:200px; */
    top:8%;
    left:25%;
    width:20px;
    height:20px;
}
.center hr{
    display:none;
}
.center h1{
    font-size: 40px;
}

.b2{
    width:60%;
    height:40vh;
    margin: 2% 15%;
    border:1px solid rgb(238,129,118);
    border-radius: 5px;
    padding: 3px;
    padding: 3%;
    box-shadow:6px 5px 6px rgb(176, 171, 171) ;
    text-align: center;
}
.b2 h4{
    font-size: 20px;
    padding-left: 10px;
    color:tomato;
}
.b2 hr{
    margin: 10px 0px 20px 10px
}
.b2 strike{
    font-size: 20px;
    margin:2px 0px 0px 10px;
    color: #ff0d0d;
}
.b2 p{
    font-size: 20px;
}
.b2 input{
    margin:5px 5px 0px 5px;
}
.bottom{
    position: relative;
    left:43%;
    top:40%;
}
    .b3{
        position: absolute;
        top:30%;
        left:20%;
        border:1px solid salmon;
        border-radius: 10px;
        text-align: center;
        width:60%;
        height:23vh;
        padding:2%;
        box-shadow: 5px 5px 6px rgb(157, 153, 153);
    }


}
